/* Contenido */
.principal{
	gap: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.slide{
    width: 100%;
}

.titulo_categoria{
	justify-content: space-between;
}
.categoria{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 20px;
	gap: 20px;
	background-color: #c98ddf3b;
}
.contenido_categoria{
	gap: 20px;
	justify-content: stretch;
}

