/* Contenido */
.principal{
	gap: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.slide{
    width: 100%;
}

.titulo_categoria{
	justify-content: space-between;
}
.categoria{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 20px;
	gap: 20px;
	background-color: #6f228b28;
}
.contenido_categoria{
	gap: 20px;
	justify-content: stretch;
	align-items: normal;
}


.card-img-top .card .card-body{
    width: 306.663px;
}

h5{
	width: 274.667px;
}