.card{
	background-color: #6f228b5e;
}

.principal{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.horizontal{
	gap: 20px;
}

.vertical{
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.el_comienzo_de_todo{
	align-items: normal;
}

.busqueda{
	justify-content: space-between;
}

input{
	padding: 4px 10px;
	height: 36px;
	background-color: #6f228b5e;
	border: 2px solid #b44cda;
	color: #b44cda;
	border-radius: 24px;
}

select{
	padding: 4px 10px;
	height: 36px;
	background-color: #6f228b5e;
	border: 2px solid #b44cda;
	color: #b44cda;
	border-radius: 24px;
}

.filtros{
	width: 250px;
	gap: 4px;
	display: flex;
	flex-direction: column;
}
.filtros>.horizontal{
	gap: 4px;
}

.check{
	padding: 0;
	height: 24px;
	width: 24px;
	accent-color: #b44cda;
}

h6{
	margin-top: 16px;
	margin-bottom: 0;
}

.principal>.horizontal{
	align-items: normal;
}