body{
	font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #17091c;
    color: #efe1f4;
}


/* NAVBAR */
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    font-weight: bold;
    background-color: #17091c;
	color: #efe1f4;
	height: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0;
}
ul li{
    display: inline-block;
    gap: 0;
}
li>a{
	border-radius: 10px;
	list-style: none;
	color: #efe1f4;
    padding: 8px 20px;
	text-decoration: none;
    transition: 0.3s;
}
li>a:hover{
	border-radius: 20px;
	background-color: #c98ddf !important;
    color: #17091c;
    box-shadow: 0px 0px 48px #b44cda;
}

/* CONTENIDO */
.principal{
	max-width: 1000px;
    width: 100%
}

.horizontal{
    display: flex;
    align-items: center;
}

.boton{
	color: #17091c;
    padding: 8px 20px;
	border-radius: 10px;
    text-align: center;
	background-color: #b44cda;
    text-decoration: none;
    font-weight: 900;
    transition: 0.3s;
}

.boton:hover{
	color: #17091c;
	border-radius: 20px;
	background-color: #c98ddf;
    box-shadow: 0px 0px 48px #b44cda;
}

.card{
	border: 0;
	border-radius: 10px;
    background-color: #17091c;
    color: #efe1f4;
    position: relative;
    top: 0px;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0px 4px 48px #b44cda;
    position: relative;
    top: -8px;
}
.card>img{
	border-radius: 10px 10px 0 0;
}
.card>.btn{
	border-radius: 0 0 10px 10px;
    background-color: #b44cda;
    color: #17091c;
    border: 0;
    font-weight: 900;
    transition: 0.3s;
}
.card>.btn:hover{
    background-color: #c98ddf;
}
.card>.btn:active{
    background-color: #c98ddf;
    color: #17091c;
}
.card-body>h5{
    font-weight: 900;
}
h2{
    margin-bottom: 0;
}